@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: all 100ms;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea {
  outline: none;
  border: none;
}

a,
button {
  text-decoration: none;
  color: #1a1a1a;
  border: none;
}

a:hover,
button:hover {
  color: none;
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

p {
  margin-bottom: 0px !important;
}

@keyframes down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(8px);
  }
  40% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes updown {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation1 {
  animation: updown 0.6s forwards;
}

.animation2 {
  animation: LeftToRight 0.6s forwards;
}

.animation3 {
  animation: RightToLeft 0.6s forwards;
}

* {
  font-family: "Nunito", sans-serif;
}

.d-flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.j-between {
  justify-content: space-between;
}

.container {
  width: 90%;
  max-width: 1411px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

.container-element {
  max-width: 900px;
  margin: 0 auto;
}

.p-60 {
  padding: 60px 0;
}

body,
html {
  scroll-behavior: smooth;
}

h3 {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #ec455a;
  margin: 20px 0;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ec455a;
}

h6 {
  font-size: 18px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

p.error {
  color: #ff4842 !important;
  font-size: 13px !important;
  margin-top: 3px;
  margin-right: 14px;
  margin-left: 17px;
  font-style: oblique;
}

.invalid-feedback {
  font-size: 14px !important;
  margin-top: 3px;
  margin-right: 14px;
  margin-left: 17px;
  color: #ff4842 !important;
}

.banner {
  position: relative;
}

.banner:hover::after {
  transform: scaleX(0);
  opacity: 1;
}

.banner:hover::before {
  transform: scaleY(0);
  opacity: 1;
}

.banner::before, .banner::after {
  width: 100%;
  height: 100%;
  transition: all 0.6s;
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  opacity: 0;
  z-index: 10;
  top: 0;
}

@media screen and (max-width: 992px) {
  .banner::before, .banner::after {
    content: none;
  }
}

.btn {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 30px;
  outline: none;
  border-radius: 60px;
  border: none;
  transition: all 300ms;
  border: 1px solid transparent;
}

.btn--primary {
  background-color: #ec455a !important;
  color: #fff !important;
  border-color: transparent !important;
}

.btn--primary--hover:hover {
  color: #ec455a !important;
  background-color: white !important;
  border: 1px solid #ec455a !important;
}

html::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  width: 3px;
}

html::-webkit-scrollbar-track {
  background: #ccc;
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.backtotop {
  position: fixed;
  right: 30px;
  bottom: 1000px;
  font-size: 18px;
  background: #1a1a1a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 20;
  justify-content: center;
  font-size: 22px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.backtotop.active {
  opacity: 1;
  visibility: visible;
  bottom: 70px;
}

@media screen and (max-width: 576px) {
  .backtotop.active {
    bottom: 100px;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.loaded {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 52;
  display: none;
}

.loaded .lds-ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaded.active {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -12.5px;
}

@media screen and (min-width: 1201px) {
  .row .col-xl-1 {
    padding: 12.5px;
    width: 8.33333%;
  }
  .row .col-xl-2 {
    padding: 12.5px;
    width: 16.66667%;
  }
  .row .col-xl-3 {
    padding: 12.5px;
    width: 25%;
  }
  .row .col-xl-4 {
    padding: 12.5px;
    width: 33.33333%;
  }
  .row .col-xl-5 {
    padding: 12.5px;
    width: 41.66667%;
  }
  .row .col-xl-6 {
    padding: 12.5px;
    width: 50%;
  }
  .row .col-xl-7 {
    padding: 12.5px;
    width: 58.33333%;
  }
  .row .col-xl-8 {
    padding: 12.5px;
    width: 66.66667%;
  }
  .row .col-xl-9 {
    padding: 12.5px;
    width: 75%;
  }
  .row .col-xl-10 {
    padding: 12.5px;
    width: 83.33333%;
  }
  .row .col-xl-11 {
    padding: 12.5px;
    width: 91.66667%;
  }
  .row .col-xl-12 {
    padding: 12.5px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .row .col-lg-1 {
    padding: 12.5px;
    width: 8.33333%;
  }
  .row .col-lg-2 {
    padding: 12.5px;
    width: 16.66667%;
  }
  .row .col-lg-3 {
    padding: 12.5px;
    width: 25%;
  }
  .row .col-lg-4 {
    padding: 12.5px;
    width: 33.33333%;
  }
  .row .col-lg-5 {
    padding: 12.5px;
    width: 41.66667%;
  }
  .row .col-lg-6 {
    padding: 12.5px;
    width: 50%;
  }
  .row .col-lg-7 {
    padding: 12.5px;
    width: 58.33333%;
  }
  .row .col-lg-8 {
    padding: 12.5px;
    width: 66.66667%;
  }
  .row .col-lg-9 {
    padding: 12.5px;
    width: 75%;
  }
  .row .col-lg-10 {
    padding: 12.5px;
    width: 83.33333%;
  }
  .row .col-lg-11 {
    padding: 12.5px;
    width: 91.66667%;
  }
  .row .col-lg-12 {
    padding: 12.5px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .row .col-md-1 {
    padding: 12.5px;
    width: 8.33333%;
  }
  .row .col-md-2 {
    padding: 12.5px;
    width: 16.66667%;
  }
  .row .col-md-3 {
    padding: 12.5px;
    width: 25%;
  }
  .row .col-md-4 {
    padding: 12.5px;
    width: 33.33333%;
  }
  .row .col-md-5 {
    padding: 12.5px;
    width: 41.66667%;
  }
  .row .col-md-6 {
    padding: 12.5px;
    width: 50%;
  }
  .row .col-md-7 {
    padding: 12.5px;
    width: 58.33333%;
  }
  .row .col-md-8 {
    padding: 12.5px;
    width: 66.66667%;
  }
  .row .col-md-9 {
    padding: 12.5px;
    width: 75%;
  }
  .row .col-md-10 {
    padding: 12.5px;
    width: 83.33333%;
  }
  .row .col-md-11 {
    padding: 12.5px;
    width: 91.66667%;
  }
  .row .col-md-12 {
    padding: 12.5px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .row .col-sm-1 {
    padding: 12.5px;
    width: 8.33333%;
  }
  .row .col-sm-2 {
    padding: 12.5px;
    width: 16.66667%;
  }
  .row .col-sm-3 {
    padding: 12.5px;
    width: 25%;
  }
  .row .col-sm-4 {
    padding: 12.5px;
    width: 33.33333%;
  }
  .row .col-sm-5 {
    padding: 12.5px;
    width: 41.66667%;
  }
  .row .col-sm-6 {
    padding: 12.5px;
    width: 50%;
  }
  .row .col-sm-7 {
    padding: 12.5px;
    width: 58.33333%;
  }
  .row .col-sm-8 {
    padding: 12.5px;
    width: 66.66667%;
  }
  .row .col-sm-9 {
    padding: 12.5px;
    width: 75%;
  }
  .row .col-sm-10 {
    padding: 12.5px;
    width: 83.33333%;
  }
  .row .col-sm-11 {
    padding: 12.5px;
    width: 91.66667%;
  }
  .row .col-sm-12 {
    padding: 12.5px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .row .col-xs-1 {
    padding: 12.5px;
    width: 8.33333%;
  }
  .row .col-xs-2 {
    padding: 12.5px;
    width: 16.66667%;
  }
  .row .col-xs-3 {
    padding: 12.5px;
    width: 25%;
  }
  .row .col-xs-4 {
    padding: 12.5px;
    width: 33.33333%;
  }
  .row .col-xs-5 {
    padding: 12.5px;
    width: 41.66667%;
  }
  .row .col-xs-6 {
    padding: 12.5px;
    width: 50%;
  }
  .row .col-xs-7 {
    padding: 12.5px;
    width: 58.33333%;
  }
  .row .col-xs-8 {
    padding: 12.5px;
    width: 66.66667%;
  }
  .row .col-xs-9 {
    padding: 12.5px;
    width: 75%;
  }
  .row .col-xs-10 {
    padding: 12.5px;
    width: 83.33333%;
  }
  .row .col-xs-11 {
    padding: 12.5px;
    width: 91.66667%;
  }
  .row .col-xs-12 {
    padding: 12.5px;
    width: 100%;
  }
}

@keyframes down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(8px);
  }
  40% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes updown {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation1 {
  animation: updown 0.6s forwards;
}

.animation2 {
  animation: LeftToRight 0.6s forwards;
}

.animation3 {
  animation: RightToLeft 0.6s forwards;
}

header .header_first {
  font-size: 14px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 576px) {
  header .header_first {
    display: none;
  }
}

header .header_first .container {
  max-width: 100%;
  width: 78%;
}

header .header_first .container a {
  transition: all 0.4s;
}

header .header_first .container a i {
  color: #666;
  transition: all 0.4s;
}

header .header_first .container a:hover {
  color: #ba933e;
}

header .header_first .container a:hover i {
  color: inherit;
}

@media screen and (max-width: 1200px) {
  header .header_first .container {
    justify-content: center;
  }
}

header .header_first .container .header_first-contact {
  justify-self: flex-start;
}

@media screen and (max-width: 1200px) {
  header .header_first .container .header_first-contact {
    display: none;
  }
}

header .header_first .container .header_first-contact a {
  display: flex;
  align-items: flex-end;
  display: block;
  font-weight: 100;
}

header .header_first .container .header_first-contact a:first-child {
  margin-right: 40px;
}

header .header_first .container .header_first-contact a i {
  margin-right: 5px;
  font-size: 14px;
}

header .header_first .container .outstanding {
  justify-self: center;
  padding: 22px 0px;
}

header .header_first .container .outstanding .content .btn {
  display: inline-block;
  border-radius: 5px;
  background-color: #ba933e;
  color: #fff;
  font-weight: 700;
  padding: 3px 8px;
  margin-left: 8px;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  header .header_first .container .outstanding .content .btn {
    font-size: 12px;
    justify-content: center;
  }
}

header .header_first .container .menu {
  justify-self: flex-end;
}

@media screen and (max-width: 1200px) {
  header .header_first .container .menu {
    display: none;
  }
}

header .header_first .container .menu ul li {
  position: relative;
}

header .header_first .container .menu ul li a {
  display: inline-block;
  padding: 5px 10px;
}

header .header_first .container .menu .region ul li a i {
  font-size: 8px;
  margin-left: 3px;
}

header .header_first .container .menu .region ul li:hover .second-nav {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  z-index: 20;
}

header .header_first .container .menu .region ul li ul.second-nav {
  position: absolute;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  right: 0;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  min-width: 150px;
  top: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  transform: translateY(10%);
}

header .header_first .container .menu .region ul li ul.second-nav li {
  width: 100%;
}

header .header_first .container .menu .region ul li ul.second-nav li a {
  padding: 5px 10px;
  color: #1a1a1a;
  display: block;
}

header .header_first .container .menu .region ul li ul.second-nav li a:hover {
  color: #ba933e;
}

header .header_first .container .menu-icon ul li a i {
  font-size: 14px;
}

header .main-header {
  font-size: 16px;
  box-shadow: 0px 0px 3px #ccc;
}

header .main-header .header {
  max-width: 100%;
  width: 78%;
  position: relative;
}

header .main-header .header li i {
  font-size: 16px;
  color: #666;
}

header .main-header .header li:hover > a {
  color: #ba933e;
}

header .main-header .header li:hover > a i {
  color: #ba933e;
}

header .main-header .header .bar-mobile {
  flex: 1;
  font-size: 24px;
  display: none;
  margin-left: 20px;
}

header .main-header .header .bar-mobile .bar {
  height: 100%;
}

@media screen and (max-width: 1200px) {
  header .main-header .header .bar-mobile {
    display: block;
  }
}

header .main-header .header .logo {
  height: 85px;
  display: flex;
  align-items: center;
  cursor: inherit;
  flex: 1;
}

@media screen and (max-width: 1200px) {
  header .main-header .header .logo {
    flex: 0;
  }
}

header .main-header .header .logo img {
  cursor: pointer;
  max-width: 130px;
}

header .main-header .header .header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}

header .main-header .header .header__search input[type="text"] {
  width: 80%;
  height: 42px;
  border: none;
  border-radius: 1.5rem;
  background-color: #ecf0f4;
  outline: none;
  padding: 10px 50px 10px 15px;
  font-family: "Poppins", sans-serif;
  border: solid 2px #ec455b00;
}

header .main-header .header .header__search input[type="text"]:focus {
  border: solid 2px #ec455b79;
  transition: all 0.3s ease-in-out;
}

header .main-header .header .header__search input[type="text"]::placeholder {
  color: #8a8a8a;
}

header .main-header .header .header__search .header__search__icon {
  position: absolute;
  text-decoration: none;
  width: 18px;
  right: 13%;
  cursor: pointer;
}

header .main-header .header nav.main-nav {
  flex: 2;
  padding: 0 5px;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 1200px) {
  header .main-header .header nav.main-nav {
    display: none;
  }
}

header .main-header .header nav.main-nav ul {
  text-align: center;
}

header .main-header .header nav.main-nav ul li {
  position: relative;
}

header .main-header .header nav.main-nav ul li a {
  display: flex;
  align-items: center;
  padding: 17px 24px;
  transition: all 0.4s;
  height: 85px;
}

header .main-header .header nav.main-nav ul li a i {
  margin-top: 3px;
  font-size: 10px;
  margin-left: 7px;
}

header .main-header .header nav.main-nav ul li a.active {
  color: #ba933e;
}

header .main-header .header nav.main-nav ul li a.active i {
  color: #ba933e;
}

header .main-header .header nav.main-nav ul li.notRelative {
  position: unset;
}

header .main-header .header nav.main-nav ul li .nav-mini {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  transform-origin: top;
  visibility: hidden;
  z-index: 10;
  transition: all 0.5s;
}

header .main-header .header nav.main-nav ul li .nav-mini a {
  height: auto;
}

header .main-header .header nav.main-nav ul li .second-nav {
  top: 100%;
  left: 0px;
  min-width: 200px;
  transform: scaleY(0);
}

header .main-header .header nav.main-nav ul li .second-nav1 {
  min-width: 900px;
  background-image: url(https://blueskytechco.com/rubix/wp-content/uploads/2021/05/bg_update.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center right;
  background-size: auto;
  padding: 50px;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  max-width: 100%;
  width: 100%;
  text-align: left;
  font-size: 16px;
}

header .main-header .header nav.main-nav ul li .second-nav1 .heading {
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: capitalize;
}

header .main-header .header nav.main-nav ul li .second-nav1 .list-item {
  width: 100%;
}

header .main-header .header nav.main-nav ul li .second-nav1 .list-item li a {
  display: block;
  width: 100%;
  padding: 8px 0px;
  text-align: left;
}

header .main-header .header nav.main-nav ul li .second-nav1 > li {
  width: 25%;
  max-width: 280px;
}

header .main-header .header nav.main-nav ul li:hover .second-nav {
  visibility: visible;
  transform: scaleY(1);
}

header .main-header .header nav.main-nav ul li:hover .second-nav1 {
  visibility: visible;
  transform: translateX(-50%) scaleY(1);
}

header .main-header .header .header__user {
  justify-content: space-between;
}

header .main-header .header .header__user .header__login-button,
header .main-header .header .header__user .header__register-button {
  display: flex;
  align-items: center;
}

header .main-header .header .header__user .header__login-button button,
header .main-header .header .header__user .header__register-button button {
  font-size: 14px;
  padding: 5px 20px;
  margin-right: 10px;
}

header .main-header .header .header__user .header__login-button .header__menu img,
header .main-header .header .header__user .header__register-button .header__menu img {
  width: 18px;
  cursor: pointer;
  display: none;
}

header .main-header .header .header__user__cart {
  margin-right: 20px;
  position: relative;
}

header .main-header .header .header__user__cart i {
  font-size: 30px;
  color: #ec455a;
}

header .main-header .header .header__user__cart__badge {
  border-radius: 50%;
  font-size: 11px;
  text-align: center;
  background: #ee9d00;
  color: #fff;
  padding: 1px 5px;
  position: absolute;
  top: 70%;
  left: 70%;
}

header .main-header .header .header__user__cart:hover {
  opacity: 0.8;
}

header .main-header .header .header__user__username span {
  cursor: pointer;
  color: #ec455a;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

header .main-header .header .header__user__username span:hover {
  opacity: 0.8;
}

header .main-header .header .header__user__avatar {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 2px #ec455a;
}

header .main-header .header .header__user__avatar img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
}

header .main-header .header .header__user__avatar:hover {
  opacity: 0.9;
}

header .main-header .header .header__user__avatar:hover .header__user__logout {
  display: block;
}

header .main-header .header .header__user__avatar .header__user__logout {
  padding: 10px 0;
  transform: translateX(-10%);
  width: 100px;
  display: none;
}

header .main-header .header .header__user__avatar .header__user__logout a:hover {
  color: #1a1a1a;
}

header .main-header .header .header__user > * {
  margin-left: 20px;
}

header .main-header.active {
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  background: #fff;
  animation: down 1s forwards;
}

@media screen and (max-width: 576px) {
  header .main-header.active {
    animation: none;
    position: absolute;
    display: block;
  }
}

.menu-mobile-overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.6s;
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 1201px) {
  .menu-mobile-overlay {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.menu-mobile-overlay.active {
  opacity: 1;
  visibility: visible;
}

.menu-mobile-overlay.active .content-menu {
  transform: translateX(0%);
}

.menu-mobile-overlay .content-menu {
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  max-width: 375px;
  height: 100vh;
  z-index: 20;
  max-width: 375px;
  padding: 30px;
  overflow: auto;
  transform: translateX(-100%);
}

.menu-mobile-overlay .content-menu .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-mobile-overlay .content-menu .searching .searching-title {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .menu-mobile-overlay .content-menu .searching .searching-title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #1a1a1a;
  }
}

.menu-mobile-overlay .content-menu .searching .suggets ul {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.menu-mobile-overlay .content-menu .searching .suggets ul li {
  margin: 12px 5px;
}

.menu-mobile-overlay .content-menu .searching .search {
  margin: 20px 0;
}

.menu-mobile-overlay .content-menu .searching .search input {
  font-size: 16px;
  flex-grow: 1;
  padding: 10px;
}

.menu-mobile-overlay .content-menu .searching .search i {
  padding-right: 10px;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile {
  margin-top: 10px;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile ul.nav-level-1 > li {
  position: relative;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile ul.nav-level-1 > li > a {
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  border-bottom: 1px solid #e5e5e5;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile ul li {
  position: relative;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile ul li a {
  width: 100%;
  display: block;
  padding: 15px 0;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .bi.bi-chevron-down {
  position: absolute;
  right: 0;
  top: 20px;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .menu-level2 {
  padding-left: 20px;
  display: none;
  transition: all 0.5s;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .menu-level2.active {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
  display: block;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .menu-level2 a {
  display: block;
  padding: 10px 0px;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .menu-level2 .menu-level-3 {
  display: none;
}

.menu-mobile-overlay .content-menu .bottom {
  margin-top: 60px;
}

.menu-mobile-overlay .content-menu .bottom .my-account li {
  border-bottom: 1px solid #e5e5e5;
}

.menu-mobile-overlay .content-menu .bottom .my-account li a {
  padding: 15px 0;
  display: inline-block;
}

.menu-mobile-overlay .content-menu .bottom .my-account li i {
  font-size: 18px;
}

.menu-mobile-overlay .content-menu::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  width: 3px;
}

.menu-mobile-overlay .content-menu::-webkit-scrollbar-track {
  background: #ccc;
}

.menu-mobile-overlay .content-menu::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

ul.side-sticky-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background: #fff;
  display: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
}

@media screen and (max-width: 576px) {
  ul.side-sticky-icons {
    display: flex;
  }
}

ul.side-sticky-icons li {
  position: relative;
}

ul.side-sticky-icons li a,
ul.side-sticky-icons li .bar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
  color: #999;
  line-height: 1;
  padding: 12px 15px 10px;
  text-transform: capitalize;
  cursor: pointer;
}

ul.side-sticky-icons li a i,
ul.side-sticky-icons li .bar i {
  font-size: 18px;
  margin-bottom: 8px;
  color: #1a1a1a;
}

ul.side-sticky-icons li .before {
  position: absolute;
  top: 0;
  right: 45%;
  transform: translate(100%, 30%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #ba933e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 15;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
  transform: translateY(-300px);
}

.form-search .container-element h2 {
  margin-top: 110px;
  font-size: 30px;
}

.form-search .container-element ul {
  width: 100%;
  justify-content: center;
  margin: 30px 0;
}

.form-search .container-element ul li {
  margin: 10px 10px;
  cursor: pointer;
}

.form-search .container-element ul li.active {
  color: #ba933e;
}

.form-search .container-element .searchProduct {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.form-search .container-element .searchProduct input {
  flex-grow: 2;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.form-search .container-element .searchProduct i {
  font-size: 18px;
  padding-right: 20px;
  cursor: pointer;
}

.form-search .close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
}

.form-search.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.cart {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 21;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}

.cart .products-cart {
  transform: translateX(100%);
  max-width: 340px;
  width: 100%;
  height: 100vh;
  background: white;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 22;
  transition: all 0.6s;
}

.cart .products-cart h4 {
  padding: 20px 30px;
  background: #f5f5f5;
  font-size: 18px;
}

.cart .products-cart span.close {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.cart .products-cart .mini-cart {
  flex-direction: column;
  padding: 30px;
  display: none;
}

.cart .products-cart .mini-cart-list {
  height: 100%;
  width: 100%;
}

.cart .products-cart .mini-cart-list #mini-cart-product {
  overflow: auto;
  max-height: 666px;
  transition: all 1s;
}

.cart .products-cart .mini-cart-list #mini-cart-product li {
  margin-bottom: 15px;
  position: relative;
}

.cart .products-cart .mini-cart-list #mini-cart-product li a {
  display: block;
}

.cart .products-cart .mini-cart-list #mini-cart-product li a img {
  width: 70px;
  margin-right: 15px;
}

.cart .products-cart .mini-cart-list #mini-cart-product li a:hover {
  color: #ba933e;
}

.cart .products-cart .mini-cart-list #mini-cart-product li .quantity {
  font-size: 14px;
  width: 50%;
  position: relative;
}

.cart .products-cart .mini-cart-list #mini-cart-product li .quantity a {
  font-weight: 700;
  color: #1a1a1a;
  line-height: 1.4;
  font-size: 14px;
}

.cart .products-cart .mini-cart-list #mini-cart-product li .quantity span {
  margin: 10px 0;
}

.cart .products-cart .mini-cart-list #mini-cart-product li .erase {
  position: absolute;
  right: 20px;
  top: 0px;
  cursor: pointer;
  font-size: 20px !important;
  color: #999999;
}

.cart .products-cart .mini-cart-list #mini-cart-product::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  width: 3px;
}

.cart .products-cart .mini-cart-list #mini-cart-product::-webkit-scrollbar-track {
  background: #ccc;
}

.cart .products-cart .mini-cart-list #mini-cart-product::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.cart .products-cart .mini-cart-bottom {
  width: 100%;
  margin-top: 30px;
}

.cart .products-cart .mini-cart-bottom .total {
  position: relative;
  flex: 1 1 auto;
  overflow: auto;
  width: 100%;
  height: 100%;
  font-size: 18px;
  margin-bottom: 25px;
}

.cart .products-cart .mini-cart-bottom .total strong {
  color: #1a1a1a;
}

.cart .products-cart .mini-cart-bottom .total .sub-total {
  color: #ba933e;
  font-weight: 700;
}

.cart .products-cart .mini-cart-bottom .group-btn .btn {
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 15px;
}

.cart .products-cart .mini-cart.active {
  display: flex;
}

.cart .products-cart .no-product {
  padding-left: 40px;
  margin-top: 30px;
}

.cart .products-cart .no-product.active {
  display: none;
}

.cart.active {
  visibility: visible;
  opacity: 1;
}

.cart.active .products-cart {
  transform: translateX(0);
}

.main-content-checkout .container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-content-checkout .container .cart-detail {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  justify-items: center;
  gap: 20px;
}

.main-content-checkout .container .cart-detail ul {
  margin-bottom: 0px !important;
}

.main-content-checkout .container .cart-detail .cart-detail__book {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
  border-radius: 30px;
  padding: 40px 20px;
  width: 100%;
}

.main-content-checkout .container .cart-detail .cart-detail__book .cart-detail__book__item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
}

.main-content-checkout .container .cart-detail .cart-detail__book .cart-detail__book__item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
  border-radius: 15px;
}

.main-content-checkout .container .cart-detail .cart-detail__book .cart-detail__book__item img {
  width: 80px;
  height: 120px;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
  object-fit: cover;
}

.main-content-checkout .container .cart-detail .cart-detail__book .cart-detail__book__item .cart-detail__book__item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content-checkout .container .cart-detail .cart-detail__book .cart-detail__book__item .cart-detail__book__item__info > * {
  margin-top: 10px;
}

.main-content-checkout .container .cart-detail .cart-detail__book .cart-detail__book__item .cart-detail__book__item__info .cart-detail__book__item__info__title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
}

.main-content-checkout .container .cart-detail .cart-detail__book .cart-detail__book__item .cart-detail__book__item__info .cart-detail__book__item__info__price {
  color: #ec455a;
  font-weight: bold;
}

.main-content-checkout .container .cart-detail .cart-detail__book .cart-detail__book__item .cart-detail__book__item__info .cart-detail__book__item__info__number input {
  width: 80px;
  padding: 5px 10px;
  outline: none;
  border-radius: 8px;
  border: 2px solid #e4e4e4;
  transition: all 200ms ease-out;
}

.main-content-checkout .container .cart-detail .cart-detail__book .cart-detail__book__item .cart-detail__book__item__info .cart-detail__book__item__info__number:focus {
  border: 2px solid #ec455b8c;
  transition: all 200ms ease-in;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
  border-radius: 30px;
  width: 100%;
  height: fit-content;
  justify-self: start;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 10px;
  color: black;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail .cart-detail__user-info__detail__address {
  grid-column: 1 / span 2;
  line-height: 25px;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail .cart-detail__user-info__detail__total {
  margin-top: 5px;
  grid-column: 1 / span 2;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail .cart-detail__user-info__detail__total button {
  width: 100%;
  margin-top: 10px;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail .cart-detail__user-info__detail__total .price {
  color: #ec455a;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail input {
  font-family: "Nunito", sans-serif;
  border-radius: 30px;
  border: 2px solid rgba(192, 192, 192, 0);
  outline: none;
  padding: 7px 17px;
  background-color: #e4e3e3b8;
  transition: all 200ms ease-out;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail input:focus {
  border: 2px solid #ec455b8c;
  transition: all 200ms ease-in;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail input[type="text"] {
  font-size: 15px;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail textarea {
  width: 100%;
  border: 2px solid #e4e4e4;
  transition: all 200ms ease-out;
  margin-top: 20px;
  padding: 7px;
}

.main-content-checkout .container .cart-detail .cart-detail__user-info .cart-detail__user-info__detail textarea:focus {
  border: 2px solid #ec455b8c;
  transition: all 200ms ease-in;
}
/*# sourceMappingURL=checkout.css.map */