.login__background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, #ffcda5, #c75764);
  display: flex;
  align-items: center;
  justify-content: center;
  .login__form {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.205);

    width: 500px;
    padding: 50px 40px 40px 40px;
    border-radius: 30px;
    margin: 80px 0;

    display: grid;
    grid-gap: 10px;
    &__title {
      font-size: 25px;
      margin-bottom: 15px;
      text-align: center;
      line-height: 30px;
    }
    &__message {
      color: red;
      margin-bottom: 10px;
      text-align: center;
    }
    &__input {
      font-weight: bold;
      margin-bottom: 10px;
      display: grid;
      grid-gap: 10px;
      input {
        font-family: "Nunito", sans-serif;
        border-radius: 30px;
        border: 2px solid rgba(192, 192, 192, 0);
        outline: none;
        padding: 12px 20px;
        width: 100%;
        background-color: rgb(228, 228, 228);
        transition: all 200ms ease-out;
        &:focus {
          border: 2px solid rgb(0, 171, 85);
          transition: all 200ms ease-in;
        }
      }

      .signupCheckMessage {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 14px;
        color: red;
      }
    }
    .errorMessage {
      border-radius: 8px;
      box-shadow: none;
      background-image: none;
      line-height: 1.5714285714285714;
      font-size: 0.875rem;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      justify-content: center;
      display: flex;
      padding: 6px 16px;

      background-color: rgb(255, 231, 217);
      color: #ff4842;
      p {
        padding: 8px 0;
        font-size: 16px !important;
      }
    }
  }
}
