.pagination {
  .page-item {
    margin: 0 2px;
    .page-link {
      border-radius: $border-radius-50;
      color: $color-gray-1;
      &:focus {
        box-shadow: 0 0 0 0.15rem $color-red-1;
      }
    }
    &.active .page-link {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $color-white-0;
    }
  }
}

.swal2-toast {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: auto !important;
  padding: 0.5em !important;
  overflow-y: hidden !important;
  .swal2-title {
    margin: 0 !important;
    margin-left: 5px !important;
    justify-content: center !important;
  }
}
