.signup__background {
  width: 100%;
  height: 100%;
  display: flex;
  .signup__img {
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 55%;
    }
  }
  .signup__form {
    width: 570px;
    padding: 35px 40px 30px 40px;
    display: grid;
    grid-gap: 10px;

    &__logo {
      width: 70px;
      height: 70px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 12px;
    }
    &__title {
      margin-bottom: 15px;
      text-align: center;
      @include styleText($primary-color, $fs-8, $fw-2, $lh-4, $font-title);
    }
    &__message {
      color: red;
      margin-bottom: 10px;
      text-align: center;
    }
    &__input {
      font-weight: bold;
      margin-bottom: 10px;
      display: grid;
      grid-gap: 10px;
      font-size: $fs-7 - 1;
      input {
        font-family: $font-title;
        border-radius: $border-radius-6 + 5;
        border: 2px solid $color-dark-2;
        outline: none;
        font-size: $fs-0;
        padding: 11px 20px;
        width: 100%;
        background-color: $color-white-1;
        transition: all 200ms ease-out;
        &:focus {
          border: 2px solid $color-green-0;
          transition: all 200ms ease-in;
        }
      }

      .signupCheckMessage {
        font-family: $font-content;
        font-weight: normal;
        font-size: 14px;
        color: red;
      }
    }
    .errorMessage {
      border-radius: $border-radius-2;
      box-shadow: none;
      background-image: none;
      line-height: 1.5714285714285714;
      font-size: 0.875rem;
      font-family: $font-content;
      font-weight: 400;
      justify-content: center;
      display: flex;
      padding: 6px 16px;

      background-color: rgb(255, 231, 217);
      color: #ff4842;
      p {
        padding: 8px 0;
        font-size: 16px !important;
      }
    }
  }
}
