.container {
  width: 90%;
  max-width: 1411px;
  margin: 0 auto;
}

.container-element {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0;
}
h3 {
  margin: 25px 0;
  @include styleText($primary-color, $fs-3, $fw-b, 0, $font-title);
}
h5 {
  @include styleText($primary-color, $fs-2, $fw-b, 0, $font-content);
}

h6 {
  font-size: 18px;
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: $content-color;
}
p.error {
  @include styleText($color-red-2, $fs-5 - 1, $fw-1, $lh-1, $font-title);
  margin-top: 3px;
  margin-right: 14px;
  margin-left: 17px;
  font-style: oblique;
}
.invalid-feedback {
  @include styleText($color-red-2, $fs-5 - 1, $fw-b, $lh-1, $font-title);
  margin-top: 3px;
  margin-left: 17px;
  font-style: oblique;
}
.back__home {
  position: absolute;
  bottom: 0;
  left: 0px;
  transform: translateY(46px);
  i {
    font-size: $fs-2;
    font-weight: $fw-1;
  }
  a {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    color: $color-dark-0 !important;
    font-weight: $fw-1;
    &:hover {
      background-color: rgba(145, 158, 171, 0.08);
      border-radius: $border-radius-2;
      padding: 6px 8px;
      color: $color-dark-0;
    }
  }
}
.disabled {
  a {
    color: $color-gray-2 !important;
    box-shadow: none !important;
    background-color: $color-gray-3 !important;
    pointer-events: none;
    cursor: default;
  }
  button {
    color: $color-gray-2 !important;
    box-shadow: none !important;
    background-color: $color-gray-3 !important;
    pointer-events: none;
    cursor: default;
  }
}
