/* color */
$primary-color: #ec455a;
$secondary-color: #f7566b;
$third-color: #ff213d;
$active-color: #c83245;
$hover-color: #d23f57;
$content-color: #4b4b4b;
$color-body: #212529;
$font-title: "Nunito", sans-serif;
$font-content: "Roboto", sans-serif;
$font-heading: "Poppins", sans-serif;

$color-gray-0: rgb(39, 39, 39);
$color-gray-1: rgb(99, 115, 129);
$color-gray-2: rgba(145, 158, 171, 0.8);
$color-gray-3: rgba(145, 158, 171, 0.24);

$color-red-1: rgba(236, 69, 91, 0.6);
$color-red-2: #ff4842;

$color-dark-0: #000000;
$color-dark-1: #212b36;

$color-white-0: #fff;

/* font-size */
$fs-0: 16px;
$fs-1: 22px;
$fs-2: 20px;
$fs-3: 25px;
$fs-4: 19px;
$fs-5: 15px;
$fs-6: 23px;
$fs-7: 18px;

/* font-weight */
$fw-0: normal;
$fw-b: bold;
$fw-1: 600;
$fw-2: 700;
$fw-3: 900;
$fw-4: 500;

/* line-height */
$lh-0: normal;
$lh-1: 1.1;
$lh-2: 25px;
$lh-3: 1.5;

/* border-radius */
$border-radius-0: 2px;
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 15px;
$border-radius-4: 20px;
$border-radius-5: 22px;
$border-radius-6: 25px;
$border-radius-7: 35px;
$border-radius-8: 60px;
$border-radius-50: 50%;
$border-radius-100: 100%;
